@inherits LayoutComponentBase

<div class="wrapper">
    <NavBar />
    <MainSideBar />
    @*<MainSideBar />*@
    <div class="content-wrapper">
        <ContentHeader />
        <section class="content">
            @Body
        </section>
    </div>
    <Footer />
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        adasdas
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
