<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <a href="index-4.html" class="logo">
                        <img src="/img/white-logo.png"
                             alt="logo">
                        @*<img data-cfsrc="assets/img/white-logo.png" alt="logo"
             style="display:none;visibility:hidden;"><noscript>
            <img src="assets/img/white-logo.png"
                 alt="logo">
        </noscript>*@
                    </a>
                    <p>
                        A team of technology enthusiasts, creative designers, software engineers and marketers who are translating clients Ideas in to realities and delivering best results.
                    </p>
                    <p>
                        We are One Stop Solution for SME’s to larger enterprises, we are committed to deliver quality services which add new dimensions and take your business to the next level in your Industry.
                    </p>
                    <ul class="social-link">
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Explore</h3>
                    <ul class="footer-links-list">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about-us">About</a></li>
                        @*<li><a href="pricing.html">Pricing</a></li>*@
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/identity/account/login">Login</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                @*<div class="single-footer-widget pl-2">
                    <h3>Resources</h3>
                    <ul class="footer-links-list">
                        <li><a href="team-1.html">Team</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="services-1.html">Services</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="blog-1.html">Blog</a></li>
                    </ul>
                </div>*@
            </div>
            
        </div>
        <div class="footer-bottom-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <p>
                        <i class='bx bx-copyright'></i>@DateTime.Now.Year All reghts reserved.
                    </p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="shape16">
        <img src="/img/shape/shape16.png"
             alt="image">
        @*<img data-cfsrc="assets/img/shape/shape16.png" alt="image"
             style="display:none;visibility:hidden;"><noscript>
            <img src="assets/img/shape/shape16.png"
                 alt="image">
        </noscript>*@
    </div>
</footer>