<section class="page-title-area page-title-style-two">
    <div class="container">
        <div class="page-title-content">
            <h1>@PageTitleText</h1>
        </div>
    </div>
    <div class="shape2">
        <img data-cfsrc="/img/shape/shape2.png" alt="image"
             style="display:none;visibility:hidden;"><noscript>
            <img src="/img/shape/shape2.png"
                 alt="image">
        </noscript>
    </div>
    <div class="shape3">
        <img data-cfsrc="/img/shape/shape3.png" alt="image"
             style="display:none;visibility:hidden;"><noscript>
            <img src="/img/shape/shape3.png"
                 alt="image">
        </noscript>
    </div>
    <div class="shape5">
        <img data-cfsrc="/img/shape/shape5.png" alt="image"
             style="display:none;visibility:hidden;"><noscript>
            <img src="/img/shape/shape5.png"
                 alt="image">
        </noscript>
    </div>
    <div class="shape6">
        <img data-cfsrc="/img/shape/shape6.png" alt="image"
             style="display:none;visibility:hidden;"><noscript>
            <img src="/img/shape/shape6.png"
                 alt="image">
        </noscript>
    </div>
    <div class="shape7">
        <img data-cfsrc="/img/shape/shape7.png" alt="image"
             style="display:none;visibility:hidden;"><noscript>
            <img src="/img/shape/shape7.png"
                 alt="image">
        </noscript>
    </div>
    <div class="shape8">
        <img data-cfsrc="/img/shape/shape8.png" alt="image"
             style="display:none;visibility:hidden;"><noscript>
            <img src="/img/shape/shape8.png"
                 alt="image">
        </noscript>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</section>


@code{
    [Parameter]
    public string PageTitleText { get; set; }
}