<div class="digital-agency-banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="banner-content">
                    <span class="sub-title wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1000ms">
                        Social  Media
                        Marketing
                    </span>
                    <h1 class="wow fadeInLeft" data-wow-delay="10ms" data-wow-duration="1000ms">
                        Social Media Agency with
                        Excellence Service
                    </h1>
                    <p class="wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1000ms">
                        We have created a
                        cloud based tool to do your all boring tasks related to social media marketing, data analysis and decesion making
                        based on the nature of data!
                    </p>
                    <div class="btn-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1000ms">
                        <a href="/about-us" class="default-btn">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="banner-image">
                    <img src="/img/banner-img4.png"
                         class="wow fadeInUp" alt="image" data-wow-delay="00ms"
                         data-wow-duration="1000ms" />
                    @*<img data-cfsrc="/img/banner-img4.png" class="wow fadeInUp" alt="image"
             data-wow-delay="00ms" data-wow-duration="1000ms"
             style="display:none;visibility:hidden;"><noscript>
            <img src="/img/banner-img4.png"
                 class="wow fadeInUp" alt="image" data-wow-delay="00ms"
                 data-wow-duration="1000ms">
        </noscript>*@
                </div>
            </div>
        </div>
    </div>
</div>