<section class="featured-services-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Featured</span>
            <h2>Best Social Marketing Services</h2>
            <p>
                Create, publish, and schedule posts, track analytics and performance, engage with the community, download unlimited PDF reports, and enjoy other features for your social media management from one tool.
            </p>
        </div>
        @*<div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-featured-services-box">
                    <div class="icon">
                        <i class="flaticon-research"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3><a href="single-services.html">Marketing Analysis</a></h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna.
                    </p>
                    <a href="single-services.html" class="learn-more-btn">
                        <i class="left-icon flaticon-next-button"></i> Learn More <i class="right-icon flaticon-next-button"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-featured-services-box">
                    <div class="icon">
                        <i class="flaticon-speed"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3><a href="single-services.html">Website Optimization</a></h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna.
                    </p>
                    <a href="single-services.html" class="learn-more-btn">
                        <i class="left-icon flaticon-next-button"></i> Learn More <i class="right-icon flaticon-next-button"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="single-featured-services-box">
                    <div class="icon">
                        <i class="flaticon-email-marketing"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3><a href="single-services.html">Email Marketing</a></h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna.
                    </p>
                    <a href="single-services.html" class="learn-more-btn">
                        <i class="left-icon flaticon-next-button"></i> Learn More <i class="right-icon flaticon-next-button"></i>
                    </a>
                </div>
            </div>
        </div>*@
    </div>
</section>